<mat-tab-group *ngIf="employee; else loading">
  <mat-tab label="Infos">
    <div class="infos">
      <p class="flotte"><img mat-card-image [src]="getImage(employee.imgUrl)" style="width:300px;height:300px;"></p>
      <div class="text">
        <h1>{{employee.firstName}} {{employee.lastName}}</h1>
        <p>Age : {{employee.age}}</p>
        <p>Nationality : {{employee.nationality}}</p>
        <p>Address : {{employee.address}}</p>
        <p>Phone Number : {{employee.number}}</p>
        <p>Mail : {{employee.mail}}</p>
        <p>Salary : {{employee.remuneration}}</p>
        <!-- <p>Time spent in the company : </p> -->
        <p>Skills : {{employee.skills}}</p>
        <p>Sector : {{employee.sector}}</p>
      </div>
      <button mat-raised-button color="primary" (click)="deleteProfile()" routerLink="/employees">Delete</button>
      <!-- <button mat-raised-button color="primary">Modify</button> -->
    </div>
  </mat-tab>
  <mat-tab label="Other"> ... </mat-tab>
</mat-tab-group>

<ng-template #loading>
  <h1 *ngIf="endRequest == true">
    No existing profile
  </h1>
  <mat-spinner *ngIf="endRequest == false"></mat-spinner>
</ng-template>